/* Generic */

body {
    background-color: white;
}

/* Index Page */

.header-1 {
    color: #EF657C;
}

hr {
    margin: 0 auto;     
    border-top: 1px solid #EF657C;
}

.container {
    background-color: white;
}


/* Button */

.btn-white {
    background-color:#EF657C;
    margin: auto;
    color: white;
    box-shadow: #F279BC;

}

/* Nav Bar */

.menu {
    float: right; 
    margin: 0;   
}

/* Footer */

.footer-bg {
    background-color: #EF657C;
}

.social-links i {
    color:  white;
    font-size: 1.5rem;
    margin: 0.7rem;
}

