{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

{% if user.is_authenticated %}

<div class="container bg-custom my-5 py-4">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-10">
            <div class="form-wrapper border-pink">
                <br>
                <div class="header-1 text-center">
                    <h3>Book Grooming Appointment</h3>
                </div>
                <br>

                <div class="card-body min-vh-60">
                    <form method="POST" id="booking-form">
                        {% csrf_token %}
                        {{ form.as_p }}

                       
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-book btn-white me-2" type="button" data-bs-toggle="modal" data-bs-target="#confirmBookingModal">
                                Book
                            </button>
                            <button class="btn btn-cancel btn-white" data-bs-toggle="modal" data-bs-target="#confirmCancelModal">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

<!-- Booking Confirmation Modal -->
<div class="modal fade" id="confirmBookingModal" tabindex="-1" aria-labelledby="confirmBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmBookingModalLabel">Confirm Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Service: <span id="booking-service"></span></p>
                <p>Groomer: <span id="booking-groomer"></span></p>
                <p>Date: <span id="booking-date"></span></p>
                <p>Time: <span id="booking-time"></span></p>
                <p>Are you sure you want to book this appointment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm-booking">Confirm Booking</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Confirmation Modal -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCancelModalLabel">Confirm Cancellation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this booking request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="cancel-booking">Cancel Booking</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
