{% extends "base.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<br>
<div class="container brief-container mt-6 mb-5">
    <h1 class="header-1">PriceList</h1>
    <div class="col-md-7">
    <hr>
    </div>
    <br></div>

</div>

<div class="container text-center">
  <div class="row row-cols-2">
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>

{%endblock%}