{% extends "base.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<section class="row-fluid d-flex justify-content-center">
    <div class="col-lg-7 text-center">
        <br>
        <br>
        <h3>About Us</h3>
        <p>
            Welcome to The Luxe Spaw, Dublin’s premier luxury grooming studio, where every dog is treated like royalty! As the proud owner, I’ve combined my passion for animals with my years of expertise in dog grooming to create a haven for your furry friends. Located in the heart of Dublin, our boutique studio offers a range of bespoke services tailored to meet the unique needs of every breed, from the tiniest terriers to the grandest Great Danes.
            At TLS, we believe that grooming is more than just a necessity—it's an experience. We specialise in high-end grooming services that include everything from breed-specific cuts to indulgent spa treatments. Our team is dedicated to ensuring that every dog leaves our studio looking and feeling their best. We use only the finest products, prioritising the health and comfort of your pet, so you can trust that your dog is in expert hands.
            Whether your dog needs a simple trim, a full makeover, or just a day of pampering, TLS is the place to be. Our luxurious, calming environment is designed to make your dog feel at ease, and our personalised care ensures that every visit is a tail-wagging success.
            
            Thank you for trusting us with your beloved pet—we can’t wait to welcome you both to our Luxe Spaw family!
            xo The Luxe Spaw Team
            
            
        </p>
    </div>
</section>
<br>
<br>


       


{%endblock%}