{% extends "base.html" %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

 {% if user.is_authenticated %}

        <div class="container bg-custom my-5 py-4">
            <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10"> 
            <div class="colum-color-1">
                <br>
                <div class="header-1 text-center"><h3><img src="{% static 'images/favicon.png' %}" 
                alt="logo" class=""> Book Grooming Appointment <img src="{% static 'images/favicon.png' %}" 
                alt="logo" class=""></h3>
                </div><br>
   
       
  


                <div class="card-body min-vh-60 .container-fluid">
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class=".col-sm-6 .col-md-7">
                        <label for="service">Service</label>
                        <select id='service' name="service" title="services" class="form-select mb-4"
                            hx-get=""
                            hx-trigger="change"
                            hx-target="#groomers">
                            <option selected disabled>Choose a service</option>
                            
                            <option value=""></option>
                        
                        </select>
                        </div>

                        <div class=".col-sm-6 .col-md-7">
                            <label for="service">Groomer</label>
                            <select id='service' name="service" title="services" class="form-select mb-4"
                                hx-get=""
                                hx-trigger="change"
                                hx-target="#groomers">
                                <option selected disabled>Choose a groomer</option>
                                
                                <option value=""></option>
                            
                            </select>
                            </div>

                        <div class=".col-sm-6 .col-md-7">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <label for="time">Time</label>
                                <select id='time' name="time" title="time" class="form-select mb-4"
                                    hx-get=""
                                    hx-trigger="change"
                                    hx-target="#groomers">
                                    <option selected disabled>Choose a time</option>
                                    
                                    <option value=""></option>
                                
                                </select>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="booking_date">Date</label>
                                <input type="date" class="form-control" id="booking_date"
                                    name="booking_date" required>
                                    <br>
                            </div>



                       <button class="btn btn-book" type="submit" id="submit">Book</button>
                        <a class="btn btn-cancel" href="">Cancel</a>
                      
                    </form>

                </div>  
            </div>                
        </div>
    </div>
    </div> 

{% endif %} 

{% endblock %}