{% extends "base.html" %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

 {% if user.is_authenticated %}

        <div class="container bg-custom my-5 py-4">
            <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10"> 
            <div class="colum-color-1">
                <br>
                <div class="header-1 text-center"><h3>Book Grooming Appointment</h3>
                </div><br>


                <div class="card-body min-vh-60 container-fluid">
                    <form method="POST" id="booking-form">
                        {% csrf_token %}
                        
                        <!-- Service Selection -->
                        <div class="form-group .col-sm-6 .col-md-7">
                            <label for="id_service">Service</label>
                            <select id="id_service" name="service" title="services" class="form-select mb-4" onchange="updateGroomers()">
                                <!-- prompting the user to choose a service -->
                                <option selected disabled>Choose a service</option>
                                
                                <!--loop over services -->
                                {% for service in form.service.field.queryset %}
                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>


                           <!-- Groomer Selection -->
                           <div class="form-group .col-sm-6 .col-md-7">
                            <label for="id_groomer">Groomer</label>
                            <select id="id_groomer" name="groomer" class="form-select mb-4">
                                <option selected disabled>Choose a groomer</option>
                                {% for groomer in form.fields.groomer.queryset %}
                                    <option value="{{ groomer.id }}">{{ groomer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                                    <!-- Time Dropdown -->
                        <div class="form-group">
                            <label for="time">Time</label>
                            <select id='time' name="time" class="form-select mb-4">
                                <option selected disabled>Choose a time</option>
                                {% for time in available_times %}
                                    <option value="{{ time }}">{{ time }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <!-- Date Picker -->
                    <div class="form-group col-sm-6 col-md-7">
                        <label for="date">Date</label>
                        {{ form.booking_date }}
                    </div>

                       <button class="btn btn-book" type="submit" id="submit">Book</button>
                        <a class="btn btn-cancel" href="">Cancel</a>
                      


                </div>  
            </div>                
        </div>
    </div>
    </div> 

{% endif %} 

{% endblock %}

{% block extra_scripts %}

{% endblock %}