{% extends "base.html" %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<link rel="stylesheet" href="">

{%endblock%}

{% block content %}

    <section class="container-fluid">
        <div class="row bg-trans-white text-center float-md-start index-section">
            <div class="col d-grid">
                <img src="" width="" alt="logo" area-label="logo" class="" >
                <div class="col vstack text-center">
                    <a href="{% url 'booking' %}" type="button" class="btn btn-secondary btn-brown btn-index btn-lg m-3">Book</button></a>
                    <a href="{% url 'about' %}" type="button" class="btn btn-secondary btn-brown btn-index btn-lg m-3">About</button></a>
                </div>
            </div>
        </div>
    </section>

{%endblock%}