{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
<!-- Hero Image -->
<div class="container bg-custom mt-4">
   <img class="w-100 mx-auto img-fluid" id="hero" src="{% static 'images/website-images/unsplash1.jpg' %}" alt="Image Of Jack Russell">
</div>
<!-- Welcome Section -->
<div class="container brief-container mt-6 mb-5">
   <div class="row align-items-center">
      <!-- Content -->
      <div class="col-md-8">
         <h1 class="header-1 text-center">Welcome To The Luxe Spaw</h1>
         <hr class="my-4" style="width: 60%;">
         <p class="lead">Located in the heart of Dublin, our luxury grooming studio offers a top-tier experience for our clients and their pets. 
            We provide comprehensive grooming services, from breed-specific cuts to indulgent spa treatments, ensuring that each pet leaves 
            looking and feeling their best. Our focus is on both appearance and well-being, making us the go-to destination for dog lovers in Dublin.
         </p>
         <br>
         <div class="text-center">
            <a {% if not user.is_authenticated %} href="{% url 'account_signup' %}" {% else %} href="{% url 'create_booking' %}"{% endif %}
            class="btn btn-white">
            Book Now!
            </a>
         </div>
      </div>
      <div class="col-md-4 text-center">
         <img src="{% static 'images/website-images/pexels1.jpg' %}" alt="Poodle Dog With Pink Background" class="img-fluid rounded welcome-image">
      </div>
   </div>
</div>
<!-- Grooming Section -->
<div class="container brief-container mt-6 mb-5">
   <h1 class="header-1 text-center">Groomers</h1>
   <hr class="my-4" style="width: 30%;">
   <br>
   <!-- Groomers Cards -->
   <section class="row d-flex justify-content-center">
      <div class="card-group col-lg-11">
         <!-- David -->
         <div class="card text-center shadow mx-4">
            <img src="{% static 'images/website-images/groomer1.jpg' %}" alt="Groomer With Dog" class="card-img-top staff img-fluid">
            <div class="card-body d-flex flex-column justify-content-between">
               <h2 class="display-6 font-Black">David</h2>
               <p class="card-text">David specializes in reactive dogs, creating fear-free experiences. 
                  Outside of work, he enjoys spending time with his Vizsla, Ruby.
               </p>
               <a {% if not user.is_authenticated %} href="{% url 'account_signup' %}" {% else %} href="{% url 'create_booking' %}"{% endif %}
               class="btn btn-white mt-auto">Book</a>
            </div>
         </div>
         <!-- Pam-->
         <div class="card text-center shadow mx-4">
            <img src="{% static 'images/website-images/groomer2.jpg' %}" alt="Groomer With Dog" class="card-img-top staff img-fluid">
            <div class="card-body d-flex flex-column justify-content-between">
               <h2 class="display-6 font-Black">Pam</h2>
               <p class="card-text">Pam specializes in small toy breeds, ensuring each one leaves the studio looking their absolute best.</p>
               <a {% if not user.is_authenticated %} href="{% url 'account_signup' %}" {% else %} href="{% url 'create_booking' %}"{% endif %}
               class="btn btn-white mt-auto">Book</a>
            </div>
         </div>
         <!-- Annie -->
         <div class="card text-center shadow mx-4">
            <img src="{% static 'images/website-images/groomer3.jpg' %}" alt="dog image" class="card-img-top staff img-fluid">
            <div class="card-body d-flex flex-column justify-content-between">
               <h2 class="display-6 font-Black">Annie</h2>
               <p class="card-text">Annie is passionate about animals, honing her grooming skills and volunteering for non-profits.</p>
               <a {% if not user.is_authenticated %} href="{% url 'account_signup' %}" {% else %} href="{% url 'create_booking' %}"{% endif %}
               class="btn btn-white mt-auto">Book</a>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock %}