{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
<br>
<div class="container brief-container mt-6 mb-5">
   <h1 class="header-1">Services</h1>
   <div class="col-md-7">
      <hr>
   </div>
   <br>
</div>
<div class="container brief-container mt-6 mb-5">
   <div class="row align-items-center">
      <div class="col-md-8">
         <p>
            At The Luxe Spaw, we offer a range of premium grooming services tailored to ensure your pet looks and feels their best. Our Full Groom service includes a luxurious bath, gentle blow-dry, precise haircut to your desired style, ear cleaning, nail trim, and a refreshing teeth cleaning. For those looking for a simpler service, our Bath and Blow-Dry option offers a thorough cleansing and gentle drying, perfect for maintaining a healthy coat between full grooms. Ear Cleaning removes any debris and helps prevent infections, while our Nail Trim ensures your pet's paws stay healthy and comfortable. The Teeth Cleaning service promotes good oral hygiene, reducing tartar build-up and keeping your pet’s breath fresh.
            <br><br>
            We cater to pets of all sizes, with Small Breeds typically weighing up to 20 pounds, such as Chihuahuas and Pomeranians. Medium Breeds range from 21 to 50 pounds, including breeds like Cocker Spaniels and Bulldogs. Large Breeds fall between 51 and 80 pounds, covering breeds like Labradors and Golden Retrievers. Finally, X-Large Breeds exceed 80 pounds, such as Great Danes and Saint Bernards. No matter the size, The Luxe Spaw ensures each pet receives individualized care with the finest products and techniques.
            <br><br>
            <!-- Button -->
         <div class="text-center">
            <a {% if not user.is_authenticated %} href="{% url 'account_signup' %}" {% else %} href="{% url 'create_booking' %}"{% endif %}
            class="btn btn-white">
            Book Now!
            </a>
         </div>
         </p>
      </div>
      <div class="col-md-4 text-center">
         <img src="{% static 'images/website-images/pexels2.jpg' %}"
            alt="Dog Image" class="img-fluid">
      </div>
   </div>
</div>
<br>
<div class="container brief-container mt-6 mb-5">
   <h1 class="header-1">Price List</h1>
   <div class="col-md-7">
      <hr>
   </div>
   <br>
</div>
<div class="container">
   <div class="table-responsive">
      <table class="table text-center">
         <thead>
            <tr>
               <th>
                  <h5>Service</h5>
               </th>
               <th>
                  <h5>Full Groom</h5>
               </th>
               <th>
                  <h5>Bath + Blowdry</h5>
               </th>
               <th>
                  <h5>Nails/Ears</h5>
               </th>
               <th>
                  <h5>Teeth</h5>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Small</td>
               <td>65</td>
               <td>30</td>
               <td>20</td>
               <td>15</td>
            </tr>
            <tr>
               <td>Medium</td>
               <td>75</td>
               <td>40</td>
               <td>20</td>
               <td>15</td>
            </tr>
            <tr>
               <td>Large</td>
               <td>85</td>
               <td>50</td>
               <td>20</td>
               <td>15</td>
            </tr>
            <tr>
               <td>X-Large</td>
               <td>95</td>
               <td>60</td>
               <td>20</td>
               <td>15</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<br>
<br>
{% endblock %}