{% extends "base.html" %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{%endblock%}


{% block content %}

    <section class="container-fluid">

        {% if user.is_authenticated %}
        <br>
        <br>
            <div class="row-fluid d-flex justify-content-center colum-color-1">
                <div class="col-sm-12 col-lg-7 text-center">
                    <h1 class="display-5 m-5 header-1">{{ user.username}}</h1>
                    <p class="emphasised">Welcome to your profile!</p>
                    <p class="emphasised">You can manage your details and upcoming grooming appointments here.<br><br></p>
                </div>
            </div>


            <!-- Bookings-->
            <div class="row-fluid d-flex justify-content-center ">
                <div class="col-sm-12 col-lg-7 text-center bg-gradient border-shadow rounded p-5 my-5">
                    <h2 class="display-5 m-5">Bookings</h2>

                                <ul class="list-unstyled">
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Date: </strong>
                                        </div>
                                        <div class="col-md-6">
                                        <em class="float-lg-end">{{booking.booking_date}}</em> 
                                        </div>
                                    </li>
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Time: </strong>
                                        </div> 
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{booking.booking_time}}</em>
                                        </div>
                                    </li>
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Groomer: </strong>
                                        </div> 
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{booking.groomer}}</em>
                                        </div>
                                    </li>                                
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class=" float-lg-start">Status: </strong> 
                                        </div>
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{ booking.is_confirmed }}</em>
                                        </div>
                        
         {% endif %}      

    </section>
    
    

{% endblock %}