body {
    background-color: #F9FAFC;
}


.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #F279BC;
}

.container {
    background-color: #F2C2CF;
}






